@{
    ViewData["Title"] = "Biological Samples and Burial Sites";
}
@model AddBiologicalViewModel
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1>
        Biological Samples
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item breadcrumbcolor">

        </li>

    </ol>
    <div class="form-group">
        <form asp-action="AddBiologicalSite" method="post">

            <h4>Rack or Bag?</h4>
            <label asp-for="RackBag">
                <input required asp-for="RackBag" value="R" type="radio" />
                <span class="radio-ghost funkay"></span>
                Rack
            </label>
            <label>
                <input required asp-for="RackBag" value="B" type="radio" />
                <span class="radio-ghost funkay"></span>
                Bag
            </label>

            <div class="form-group">
                <label asp-for="RackBagNum">Rack/Bag Number:</label>
                <input class="form-control" required asp-for="RackBagNum" />
            </div>
            <div class="form-group">
                <label asp-for="BurialSiteId">Burial Site ID:</label>
                <input class="form-control" required asp-for="BurialSiteId" />
            </div>
            <div class="form-group">
                <label asp-for="Burial">Burial Number:</label>
                <input class="form-control" required asp-for="Burial" />
            </div>
            <div>
                <label asp-for="Date">Date:</label>
                <input asp-for="Date" />
            </div>
            <div class="form-group">
                <h4>Previously Sampled?</h4>
                <input asp-for="PreviouslySampled" type="radio" name="sampled" value="Yes"> Yes<br>
                <input asp-for="PreviouslySampled" type="radio" name="sampled" value="No"> No<br>
            </div>
            <div>
                <label asp-for="Notes">Notes:</label>
                <textarea asp-for="Notes"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Cluster">Cluster:</label>
                <input class="Cluster" required asp-for="Cluster" />
            </div>
            <h4>North or South</h4>
            <label asp-for="NS">
                <input required asp-for="NS" value="N" type="radio" />
                <span class="radio-ghost funkay"></span>
                North
            </label>
            <label>
                <input required asp-for="NS" value="S" type="radio" />
                <span class="radio-ghost funkay"></span>
                South
            </label>
            <div class="select-box">
                <label asp-for="Nstop" class="label select-box1"><span class="label-desc">Choose North Top</span> </label>
                <select class="select" required asp-for="Nstop">
                    <option value="0">0</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                    <option value="110">110</option>
                    <option value="120">120</option>
                    <option value="130">130</option>
                    <option value="140">140</option>
                    <option value="150">150</option>
                    <option value="160">160</option>
                    <option value="170">170</option>
                    <option value="180">180</option>
                    <option value="190">190</option>
                    <option value="200">200</option>
                </select>
            </div>
            <div class="select-box">
                <label asp-for="Nsbottom" class="label select-box1"><span class="label-desc">Choose North Bottom</span> </label>
                <select class="select" required asp-for="Nsbottom">
                    <option value="0">0</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                    <option value="110">110</option>
                    <option value="120">120</option>
                    <option value="130">130</option>
                    <option value="140">140</option>
                    <option value="150">150</option>
                    <option value="160">160</option>
                    <option value="170">170</option>
                    <option value="180">180</option>
                    <option value="190">190</option>
                    <option value="200">200</option>
                </select>
            </div>
            <h4>Direction</h4>
            <span class="radio-ghost-fill"></span>
            <label>
                <input required asp-for="EW" value="E" type="radio" />
                <span class="radio-ghost funkay"></span>
                East
            </label>
            <label>
                <input required asp-for="EW" value="W" type="radio" />
                <span class="radio-ghost funkay"></span>
                West
            </label>
            <div class="select-box">
                <label asp-for="Ewtop" class="label select-box1"><span class="label-desc">Choose East Top</span> </label>
                <select class="select" required asp-for="Ewtop">
                    <option value="0">0</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                    <option value="110">110</option>
                    <option value="120">120</option>
                    <option value="130">130</option>
                    <option value="140">140</option>
                    <option value="150">150</option>
                    <option value="160">160</option>
                    <option value="170">170</option>
                    <option value="180">180</option>
                    <option value="190">190</option>
                    <option value="200">200</option>
                </select>
            </div>
            <div class="select-box">
                <label asp-for="Ewbottom" class="label select-box1"><span class="label-desc">Choose East Bottom</span> </label>
                <select class="select" required asp-for="Ewbottom">
                    <option value="0">0</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                    <option value="110">110</option>
                    <option value="120">120</option>
                    <option value="130">130</option>
                    <option value="140">140</option>
                    <option value="150">150</option>
                    <option value="160">160</option>
                    <option value="170">170</option>
                    <option value="180">180</option>
                    <option value="190">190</option>
                    <option value="200">200</option>
                </select>
            </div>
            <!--Quadrant-->
            <div class="select-box">
                <label asp-for="Quadrant" class="label select-box1"><span class="label-desc">Choose area</span> </label>
                <select class="select" asp-for="Quadrant">
                    <option value="SE">SE</option>
                    <option value="NE">NE</option>
                    <option value="SW">SW</option>
                    <option value="NW">NW</option>
                </select>
            </div>
            <button type="submit" class="btn btn-dark"> Submit </button>
        </form>
    </div>


</div>
