@{
    ViewData["Title"] = "C14 Data";
}

@model Intex2021FagElGamous.Models.C14datum
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1>
        C14 Data
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item breadcrumbcolor">

        </li>

    </ol>
    @*


        public string Category { get; set; }
    *@
    <div class="form-group">
        <form asp-action="C14data" method="post">
            <div class="form-group">
                <label>Burial Number:</label>
                <input class="form-control" required asp-for="BurialNumber" />
            </div>

            <div class="form-group">
                <label>Rack:</label>
                <input required asp-for="Rack" />
            </div>
            <div class="form-group">
                <label>Tube:</label>
                <input class="Tube" required asp-for="Tubenum" />
            </div>
            <label>Description:</label>
            <textarea asp-for="Description"></textarea>
            <div class="form-group">
                <label>Size (m):</label>
                <input required asp-for="SizeMl" />
            </div>
            <div class="form-group">
                <label>Foci:</label>
                <input required  asp-for="Foci" />
            </div>
            <div class="form-group">
                <label>C14 Sample 2017:</label>
                <input class="form-control" required asp-for="C14sample2017" />
            </div>
            <div class="form-group">
                <label>Location:</label>
                <input class="form-control" required asp-for="LocationNotes" />
            </div>
            <div class="form-group">
                <label>Question(s):</label>
                <input class="form-control" required asp-for="Questions" />
            </div>
            <div class="form-group">
                <label>Conventional 14 Cage Bp:</label>
                <input required asp-for="QuestionsConventional114cAgeBp" />
            </div>
            <div class="form-group">
                <label> 14C Calendar Date :</label>
                <input required asp-for="_14cCalendarDate" />
            </div>
            <div class="form-group">
                <label> Calibrated 95 Calendar Date Max  :</label>
                <input required asp-for="Calibrated95CalendarDateMax" />
            </div>
            <div class="form-group">
                <label>Calibrated 95 Calendar Date Min  :</label>
                <input required asp-for="Calibrated95CalendarDateMin" />
            </div>
            <div class="form-group">
                <label> Calibrated 95 Calendar Date Span  :</label>
                <input required asp-for="Calibrated95CalendarDateSpan" />
            </div>
            <div class="form-group">
                <label> Calibrated 95 Calendar Date Avg :</label>
                <input required asp-for=" Calibrated95CalendarDateAvg" />
            </div>
            <div class="form-group">
                <label> Category  :</label>
                <input required asp-for=" Category" />
            </div>
            <label>Notes:</label>
            <textarea asp-for="Notes"></textarea>

            <button type="submit" class="btn btn-dark"> Submit </button>
        </form>
    </div>
</div>