
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page Content -->
<div class="container">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Mummy Title Here
    </h1>


    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">Home Page</li>
    </ol>


    <div class="row">


        <!-- Post Content Column -->
        <div class="col-lg-8">


            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">


            <hr>


            <!-- Date/Time -->
            <p>Posted on XXXX</p>


            <hr>


            <!-- Post Content -->
            <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Burial Site Location: </a>
                        </h5>
                    </div>


                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            <p>Gamous ID: </p>


                            <p>Burial Site ID: </p>


                            <p>Burial Number: </p>


                            <p>West to Head: </p>


                            <p>West to Feet: </p>


                            <p>South to Head: </p>


                            <p>South to Feet: </p>


                            <p>Burial Depth: </p>


                            <p>Burial Direction: </p>


                            <p>Osteology Notes: </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Burial Info
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">

                            <p>Burial Preservation: </p>


                            <p>Goods: </p>


                            <p>Burial Wrapping: </p>


                            <p>Burial Adult Child: </p>


                            <p>Burial Age Method: </p>


                            <p>Burial Age at Death: </p>


                            <p>Burial Sample Taken: </p>


                            <p>Length (M): </p>


                            <p>Cluster: </p>


                            <p>Face Bundle: </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Skull Info</a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-body">
                            <p>Skull at Magazine: </p>


                            <p>Skull Trauma: </p>


                            <p>Cribra Orbitalia: </p>


                            <p>Porotic Hyperostosis: </p>


                            <p>Porotic Hyperostosis (LOCATIONS): </p>


                            <p>Metopic Suture: </p>


                            <p>Button Osteoma: </p>


                            <p>Temporomandibular Joint Osteoarthritis (TMJ OA): </p>


                            <p>Linear Hypoplasia Enamel: </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingFour">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Body Info</a>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="card-body">
                            <p>Length: </p>


                            <p>Age Code SINGLE: b.</p>


                            <p>Body Analysis: </p>


                            <p>Postcrania at Magazine: </p>


                            <p>Sex (Skull; 2018): </p>


                            <p>Age (Skull; 2018): </p>


                            <p>Postcrania Trauma: </p>


                            <p>Gender Code: </p>


                            <p>Hair Color Code: </p>


                            <p>Burial Gender Method: </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingFive">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Dating Info</a>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="card-body">
                            <p>Year on Skull: </p>


                            <p>Month on Skull: </p>


                            <p>Date on Skull: </p>


                            <p>Year Excavated: </p>


                            <p>Month Excavated: </p>


                            <p>Date Excavated: </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingSix">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Other Notes</a>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="card-body">
                            <p>Osteology Unknown Comment: </p>


                            <p>Initals of Data Entry Expert: </p>


                            <p>Initials of Data Entry Checker: </p>


                            <p>BYU Sample: </p>


                            <p>Rack and Shelf: </p>


                            <p>TO BE CONFIRMED: </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<p class="lead">-- Burial Site Location -- </p>


                        <p>Gamous ID: </p>


                        <p>Burial Site ID: </p>


                        <p>Burial Number: </p>


                        <p>West to Head: </p>


                        <p>West to Feet: </p>


                        <p>South to Head: </p>


                        <p>South to Feet: </p>


                        <p>Burial Depth: </p>


                        <p>Burial Direction: </p>
                        <br />
                        <br />



                        <p class="lead">-- Burial Info --</p>


                        <p>Burial Preservation: </p>


                        <p>Goods: </p>


                        <p>Burial Wrapping: </p>


                        <p>Burial Adult Child: </p>


                        <p>Burial Age Method: </p>


                        <p>Burial Age at Death: </p>

                        <p>Burial Sample Taken: </p>


                        <p>Length (M): </p>


                        <p>Cluster: </p>


                        <p>Face Bundle: </p>
                        <br />
                        <br />



                        <p class="lead">-- Skull Info --</p>


                        <p>Skull at Magazine: </p>


                        <p>Skull Trauma: </p>


                        <p>Cribra Orbitalia: </p>


                        <p>Porotic Hyperostosis: </p>


                        <p>Porotic Hyperostosis (LOCATIONS): </p>


                        <p>Metopic Suture: </p>


                        <p>Button Osteoma: </p>


                        <p>Temporomandibular Joint Osteoarthritis (TMJ OA): </p>


                        <p>Linear Hypoplasia Enamel: </p>
                        <br />
                        <br />



                        <p class="lead">-- Body Info --</p>


                        <p>Length: </p>


                        <p>Age Code SINGLE: </p>


                        <p>Body Analysis: </p>


                        <p>Postcrania at Magazine: </p>


                        <p>Sex (Skull; 2018): </p>


                        <p>Age (Skull; 2018): </p>


                        <p>Postcrania Trauma: </p>


                        <p>Gender Code: </p>


                        <p>Hair Color Code: </p>


                        <p>Burial Gender Method: </p>
                        <br />
                        <br />


                        <p class="lead">-- Dating Info --</p>
                        <p>Year on Skull: </p>


                        <p>Month on Skull: </p>


                        <p>Date on Skull: </p>


                        <p>Year Excavated: </p>


                        <p>Month Excavated: </p>


                        <p>Date Excavated: </p>
                        <br />
                        <br />



                        <p class="lead">-- Other Notes --</p>


                        <p>Osteology Notes: </p>


                        <p>Osteology Unknown Comment: </p>


                        <p>Initals of Data Entry Expert: </p>


                        <p>Initials of Data Entry Checker: </p>


                        <p>BYU Sample: </p>


                        <p>Rack and Shelf: </p>


                        <p>TO BE CONFIRMED: </p>-->
            <!--<blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>-->


            <hr>


            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>


            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Jack Seal</h5>
                    Fag el Gamous is dope nasty yo!
                </div>
            </div>


            <!-- Comment with nested comments -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Addison Howard</h5>
                    Might mess around and go eat some cashews,,, How bout that?


                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Trevi Fountain</h5>
                            Do it! Get it on video though,
                        </div>
                    </div>


                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Jenna Weller</h5>
                            I'll just be in my breakout room, Let me know when it goes down in messages,
                        </div>
                    </div>


                </div>
            </div>


        </div>


        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">


            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="inpug-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>


            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">This</a>
                                </li>
                                <li>
                                    <a href="#">for</a>
                                </li>
                                <li>
                                    <a href="#">different</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">is</a>
                                </li>
                                <li>
                                    <a href="#">the</a>
                                </li>
                                <li>
                                    <a href="#">categories</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    Photo time!
                </div>
            </div>


        </div>


    </div>
    <!-- /.row -->


</div>
<!-- /.container -->
