@import "bourbon";

$bezier: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$time: 300ms;

$base-font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin animated( $time: 300ms, $fillmode: both, $count: 1) {
    animation-duration: $time;
    animation-fill-mode: $fillmode;
    animation-iteration-count: $count;
}

.funkay {
    font-size: 18px;
    font-weight: 600;
}

body {
    background-color: #363E4A;
    font-family: $base-font-family;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
}

h1 {
    font-family: "Texta", $base-font-family;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, .4);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 16px 40px 16px;
    transform: translateZ(0);
    text-align: left;
}

.form-footer {
    margin-top: 2em;
    position: relative;
    width: 100%;
}

.ui-input {
    position: relative;
    padding: 0;
    border: 0;
}

    .ui-input input {
        font-family: $base-font-family;
        border: 0;
        background: none;
        padding: 16px 0 16px 0;
        font-size: 24px;
        outline: 0;
        width: 100%;
        tap-highlight-color: rgba(0,0,0,0);
        touch-callout: none;
    }

        .ui-input input + label {
            position: relative;
            display: block;
            padding: 8px 0 8px 0;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: .0875em;
            font-weight: 500;
            text-align: left;
            &::before, &::after

{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
}

&::before {
    background-color: rgba(255, 255, 255, .2);
}

&::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $time $bezier;
    background-color: #6EB1FF;
    height: 2px;
}

span {
    position: relative;
    color: rgba(255, 255, 255, .2);
    transition: color $time $bezier;
    &::after

{
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    left: 0;
    transform: scaleX(1);
    white-space: nowrap;
    color: #fff;
    background-image: linear-gradient(to right, #4A90E2 50%, rgba(255,255,255,0) 0%);
    background-position: 100% 50%;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
    transition: background-position $time $bezier;
}

}
}

.ui-input input:focus,
.ui-input input.error,
.ui-input input:invalid,
.ui-input input.filled {
    & + label

{
    &::after

{
    transform: scaleX(1);
    transform-origin: left;
}

span::after {
    //color: #4A90E2;
    background-image: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 0%);
    background-position: 0% 50%;
}

}
}

.ui-input input.filled {
    color: #ffffff;
    & + label

{
    &::after

{
    background-color: #ffffff;
}

span::after {
    background-image: linear-gradient(to right, #ffffff 50%, rgba(255,255,255,0) 0%);
    background-position: 0% 50%;
}

}
}

.ui-input input:focus {
    color: #6EB1FF;
    & + label

{
    &::after

{
    background-color: #6EB1FF;
}

span::after {
    background-image: linear-gradient(to right, #6EB1FF 50%, rgba(255,255,255,0) 0%);
    background-position: 0% 50%;
}

}
}

.ui-input input.error,
.ui-input input:invalid {
    color: #E66161;
    & + label

{
    &::after

{
    background-color: #E66161;
}

span::after {
    background-image: linear-gradient(to right, #E66161 50%, rgba(255,255,255,0) 0%);
    background-position: 0% 50%;
}

}
}

.btn {
    border: 0;
    background-color: #50617A;
    padding: 18px 30px;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .0875em;
    font-weight: 500;
    color: #ffffff;
    font-family: $base-font-family;
    border-radius: 100px;
    outline: 0;
    transition: background-color $time $bezier, color $time $bezier;
}

    .btn:focus, .btn:active,
    .btn:hover {
        background-color: #DEB887;
        color: white;
    }

.__first, .__second, .__third, .__fourth {
    animation-name: fadeIn;
    animation-duration: 180ms;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.__first {
    animation-delay: 0;
}

.__second {
    animation-delay: 80ms;
}

.__third {
    animation-delay: 180ms;
}

.__fourth {
    animation-delay: 360ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.select-box {
    cursor: pointer;
    position: relative;
    max-width: 20em;
    width: 100%;
}

.select,
.label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
}

.select-box1 {
    background: #ececec;
}

.label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}

.open .label::after {
    content: "▲";
}

.label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
}

*
.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}

.panel {
    max-width: 500px;
}

.button_outer {
    background: #50617A;
    border-radius: 30px;
    text-align: center;
    height: 50px;
    width: 200px;
    display: inline-block;
    transition: .2s;
    position: relative;
    overflow: hidden;
}

    .button_outer:focus, .button_outer:active, .button_outer:hover {
        background-color: #DEB887;
        color: white;
    }

.btn_upload {
    padding: 17px 30px 12px;
    text-transform: uppercase;
    letter-spacing: .0875em;
    font-weight: 500;
    font-family: $base-font-family;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.5;
}

    .btn_upload input {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        width: 100%;
        height: 105%;
        cursor: pointer;
        opacity: 0;
    }

.file_uploading {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background: #ccc;
}

    .file_uploading .btn_upload {
        display: none;
    }

.processing_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #83ccd3;
    transition: 3s;
}

.file_uploading .processing_bar {
    width: 100%;
}

.success_box {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
}

    .success_box:before {
        content: '';
        display: block;
        width: 9px;
        height: 18px;
        border-bottom: 6px solid #fff;
        border-right: 6px solid #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        left: 17px;
        top: 10px;
    }

.file_uploaded .success_box {
    display: inline-block;
}

.file_uploaded {
    margin-top: 0;
    width: 50px;
    background: #83ccd3;
    height: 50px;
}

.uploaded_file_view {
    max-width: 300px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    transition: .2s;
    opacity: 0;
    border: 2px solid #ddd;
    padding: 15px;
}

.file_remove {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: #aaa;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    right: -15px;
    top: -15px;
}

    .file_remove:hover {
        background: #222;
        transition: .2s;
    }

.uploaded_file_view img {
    max-width: 100%;
}

.uploaded_file_view.show {
    opacity: 1;
}

.error_msg {
    text-align: center;
    color: #f00
}
